.list-container {
    margin: 3rem 6.5rem;
}

.list-top-row {
    width: 100%;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.list-btn {
    border: none;
    padding: 0.4rem 4rem;
    font-size: 1.1em;
    background: linear-gradient(
        135deg,
        rgba(255, 57, 240, 1) 10%,
        rgba(82, 196, 255, 1) 100%
    );

    &:hover {
        filter: brightness(50%);
    }
}

.list-item {
    background-color: #808080;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        filter: brightness(80%);
        cursor: pointer;
    }
}

.list-item-image {
    max-width: 6rem;
    max-height: 6rem;
    height: 100%;
}

.list-item-text {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
        margin: 0;
    }
}

.list-item-date,
.list-item-icon {
    margin-right: 2rem;
}

.list-item-icon {
    background: linear-gradient(
        135deg,
        rgba(255, 57, 240, 1) 10%,
        rgba(82, 196, 255, 1) 100%
    );
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.list-icon {
    width: 2rem;
    height: 2rem;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
